* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    width: 35%;
    height: 65%;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;

}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-style: oblique;

}

h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-style: oblique;
}

.buttons {
    width: 100%;
    height: 60%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
    justify-content: center;
    align-items: center;
    border: none;
}

button {
    width: 56%;
    /* max-width: 250px; */
    /* height: 70%; */
    border-radius: 1rem;
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
    border: none;
    font-size: 1.5rem;
    background-color: rgb(196, 213, 230);
    padding: 1rem 1rem 1rem .2rem;
    
}

#count {
    width: 25%;
    /* height: 180%; */
    border-radius: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    /* background-color: burlywood; */
}

#reset{
    background-color: rgb(255, 106, 0);
    height: 25%;
    margin-bottom: 1rem;
    color: whitesmoke;
    font-size: 1.5rem;
    cursor: pointer;
}

h3{
    text-align: center;
    margin-top:1.6rem;
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width:768px) {
    
    .counter{
        width: 90%;
        height: 90%;
    }

}


@media (max-width:600px) {

    .counter{
        min-width: 90%;
        max-width: 90%;
        height: 90%;
    }

}